[submodule "freeLib/src/quazip"]
	path = src/quazip
	url = https://github.com/stachenov/quazip.git
#[submodule "freeLib/src/SmtpClient"]
#	path = src/SmtpClient
#	url = https://github.com/bluetiger9/SmtpClient-for-Qt.git
#	branch = v2.0
